@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --flip-x: 0deg;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-fallAndFlip: fallAndFlip 10s linear infinite;
  --animate-drift: drift 20s linear infinite;
  --animate-fadeIn: fadeIn 3s ease-in-out;
  --animate-fadeOut: fadeOut 3s ease-in-out;

  @keyframes fallAndFlip {
    0% {
      transform: translate3d(0, -9rem, var(--translate-z));
    }
    100% {
      transform: translate3d(0, 150vh, var(--translate-z))
        rotate3d(var(--flip-angel));
    }
  }

  @keyframes drift {
    0% {
      transform: skew(0, 0);
    }
    33% {
      transform: skew(var(--skew));
    }
    66% {
      transform: skew(var(--skew-d));
    }
    100% {
      transform: skew(0, 0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
